.body{
    background-color:lightgray;
}
.container{
    float: right;
    width: 400px;
    height: 500px;
    background-color: rgb(209, 11, 11);
    border-radius: 350px / 150px 0px 0px 750px;
    /* display: flex; */

}
.login{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav{
    display: flex;
    list-style: none;
    justify-content: space-between;

}
.quick{
    display: flex;
}


.fix{
    
    margin: 9% 0% 0% 4% ;
}
#FIX{
    color: rgb(225, 31, 31);
}
.out{
    background-color: rgb(227, 24, 24);
    padding: 1%;
    margin-left: 4%;
    border-radius: 9%;
}
#but{
    background-color: rgb(228, 23, 23);
    padding: 1%;
    border-radius: 50%;
}
#dolor{
    width: 90%;
    height: 90%;
    margin-top: 10%;
    margin-left: 60%;

}
#best{
    margin-top: 10%;
    text-align: center;
}
.running{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    gap: 2%;
    
}
#vn{
    background-color: red;
}
#io{
    background-color: red;
}
#ww{
    background-color: red;
}
.pma{
    display: flex;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.nk{
   display: flex; 
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.add{
    display: flex;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#puma{
    width: 60%;
    height: 90%;
}
.pmu{

    background-image: linear-gradient(to bottom,lightblue,purple);
}
.nke{
    background-image: linear-gradient(to bottom,lightblue,darkred);
}
.adii{
    background-image: linear-gradient(to bottom,lightblue,darkred);
}
#pa{
    margin-top: 8%;
    
}
#po{
    margin-top: 8%;
}
#pp{
    margin-top: 8%;
}
#nike{
width: 60%;
height: 90%;
}
#adidas{
width: 60%;
height: 90%;
}
.lorem{
    display: flex;
    
}
#fea{
    text-align: center;
    margin-top: 8%;
}
#mwk{
    margin-left: 13%;

    display: flex;
}
#mns{
    color: red;
}
#gg{
    width: 80%;
    height: 80%;
    transform: rotate(360deg);

}
#ag{
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */

    
}
#rs{
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
}
#kt{
    width: 80%;
    height: 80%;
    transform: rotate(360deg);
}
#kk{
    width: 80%;
    height: 80%;
    transform: rotate(360deg);

}
#kg{
    width: 80%;
    height: 80%;
    transform: rotate(360deg);

}

.mens{
    display: flex;
    
}
.kts{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    justify-content: space-between;
   /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
    gap: 3%;
    margin-top: 3%;
} 
.wshoe{
    display: flex;
}
#white{
    width: 80%;
}
#Black{
    width: 80%;
}
.bshoe{
    display: flex;
}
/* .shoeb{
    display: flex;
    margin-left: 3%;
} */
#spe{
    color: red;
}
#ft{
    color: red;

}
#buy{
    background-color: red;
}
#nw{
    background-color: red;
}
/* .true{
    float: right;
    display: flex;
} */


#pt{
    color: red;

}

#new{
    text-align: center;
    padding-bottom: 5%;
    margin-top: 4%;
}
#offer{
    color: red;
}
.test{
    display: flex;
    margin: 6%;
}
#say{
    width: 160%;
    font-size: 260%;
}
.wps{
    /* padding-left: 0%; */
    width: 40%;
}
.sua{
    margin-left: 30%;
    width: 100%;
    padding-right: 10%;

}
.suada{
    font-size: 80%;
    margin-left: 26%;
    border-top: none;
    width: 80%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 5%;
    
    
}
.kashan{
    margin-left: 40%;
    border: solid rgb(154, 151, 151);
    padding: 2%;
    margin-top: -6%;
    border-radius: 5%;
    border-top: none;
    border-top-right-radius: 15%;
    border-top-left-radius:25% ;
    width: 75%;
    

}
#hph{
    width: 20%;
    height: 30%;
    border-radius: 50%;
    margin-top: -8%;
    margin-left: -8%;
}
#monies{
    color: rgb(237, 73, 73);
}
.sub{
    padding: 8%;
    /* margin-left: 40%; */
    background-color: rgb(223, 169, 169);
    border-radius: 4%;
    margin: 7%;
    text-align: center;

}
#see{
    margin-left: 50%;
    margin-top: 3%;
    padding: 1%;
    color: red;
    border-color: red;
}
.email{
    padding: 10%;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    padding: 4%;
    
}
.footer ul{
    list-style: none;
    color: white;
    
}
#copy{
    text-align: center;
    color: white;
}
.right{
    background-color: rgb(226, 110, 110);
}

.secpg{
    float: left;
    background-color: red;
    width: 300px;
    height: 650px;
    border-radius: 1550px/0px 1250px 4550px 1500px;
    

} 
.airforce{
    display: flex;
    
}
.trehome{
    display: flex;
    justify-content: space-between;
}
.tre{
    display: flex;
    margin-right: 100px;
    color: black;
    margin-top: 10%;
    

}
#up{
    margin-left: 20%;
    margin-right: 20%;
    padding: 2px 7px;
    height: 70%;
    border-radius: 10%;
}
.true{
    list-style: none;
    margin-right: 40%;
    display: flex;
}
#p360{
    width: 120%;
    height: 80%;
    margin-top: 10%;
    margin-left: -30%;
    padding-bottom: 6%;

    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.nam{
    display: flex;
    
    
}
.adik{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    justify-content: space-between;
   /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
    gap: 3%;
} 
#cat{
    width: 90%;
    height: 70%;
    transform: rotate(360deg);
}
#kkk{
    width: 80%;
    height: 70%;
    transform: rotate(360deg);

}
.eat{
    background-color: white;
    padding: 4%;
}
#kgg{
    width: 90%;
    height: 70%;
    transform: rotate(360deg);


}
.koko{
    background-color: white;
    padding: 4%;

}
#ggg{
    width: 90%;
    height: 70%;
    transform: rotate(360deg);
   

}
.kog{
    background-color: white;
    padding: 4%;
}
.trend{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 10%;
    margin-right: 10;
   
}

.tact{
    display: flex;
    
}
.trend li {
    margin-left: 80px;
    margin-top: -13%;
}
#mencol{
    color: red;
}
#off{
    color: red;
}
#lowb{
    width: 30%;
    height: 10%;
    margin-left: -25%;

}
#lowc{
    width: 30%;
    height: 10%;
    margin-left: 4%;


}
#lowd{
    width: 30%;
    height: 10%;
    margin-left: 4%;

}
#size{
    color: red;
}
#sss{
    background-color: red;
    padding: 4%;
    border-radius: 50%;
}
#order{
    padding: 5%;
}
#add{
    padding: 5%;
    background-color: red;
}
#simi{
    text-align: center;
    margin-top: 10%;
}
.fa{
    float: right;
}
.sh4{
    background-color: white;
    padding: 4%;
}
.google{
    background-color: black;
    color: white;
}
.apple{
    background-color: black;
    color: white;
}
.rem{
    width: 40%;
}
.min{
    
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0c;
    padding: 0;
  

}

/* 
.lago{
    display:grid;
    grid-template-columns: repeat(1,1fr);
}
@media only screen and (max-width:1046px){


.quick{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
 }
@media only screen and (max-width:1046px){
    .fix{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }
    .agee{
        display: grid;
        grid-template-columns: repeat(1,1fr);


    }

 } */

 .third{
    display: flex;
    margin-left: 6%;
    margin-right: 6%;
 }
 .otln{
    display: flex;
    list-style: none;
    gap: 2em;
    /* margin-left: 5% */
     
 }
 
 .fafa{
    display: flex;
    list-style: none;
    margin-left: 100%;
    gap: 2em;
 }
 #abtus{
    margin-left: 50%;
 }
 .lasty{
    float: right;
    width: 300px;
    height: 150px;
    background-color: rgb(209, 11, 11);
    border-radius: 850px / 10px 0px 0px 900px;
    

 }

 #blwh{
    height: 60%;
    width: 100%;
    border-radius: 10%;
 }
 .blwh{
    display: flex;
    margin-left: 10%;
    
 }
 .stor{
    margin-left: 3%;
    font-size: 170%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -3%;

    
 }
 #seem{
    margin-top: 6%;
    margin-left: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: red;
    border-color: red;
    border-radius: 8%;
    
 }
 #vis{
    margin-top: -20%;
    margin-left: 7%;
 }
 .ipsum{
    display: flex;
    margin-left: 6%;
    /* margin-top: -25%; */
 }
 .amet{
    font-size: 170%;
    font-family: 'Times New Roman', Times, serif;
    
 }
 #moese{

    margin-top: 6%;
    margin-left: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: red;
    border-color: red;
    border-radius: 8%;
 }
 #yellow{
    width: 110%;
    height: 90%;
    margin-left: 2%;
    border-radius: 10%;
 }
 .loem{
    display: flex;
    margin-left: 7%;
 }
 #app{
    width: 80%;
    height: 100%;
    border-radius: 10%;
 }
 #approach{
    margin-left: 55%;
    
 }
 .dolor{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -8%;
    margin-top: 2%;
    
 }
 #hvq{
    margin-left: 30%;
 }
 .last{
    margin-left: 30%;
 }
 
 .laast{
    float: right;
    width: 250px;
    height: 600px;
    background-color: rgb(209, 11, 11);
    border-radius: 350px / 200px 0px 0px 900px;
    display: flex;

 }
 #dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
 }
 #dot1{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;

 }
 .doot{
    display: flex;
 }
 .text{
    background-color: white;
    padding: 20px;
    padding-right: 20px;
    margin-right: 55%;
    border-radius: 15px;
 }
 .text5{
    background-color: white;
    padding: 20px;
    padding-right: 20px;
    margin-right: 55%;
    border-radius: 15px;
    padding-bottom: 15%;
 }
 #sub{
    margin-left: 40%;
    padding: 2%;
    border-radius: 10%;
    background-color: red;
 }
 